{
  "rules":
  {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-empty": "warn",
    "no-cond-assign": ["error", "always"],
    "max-lines": ["error",
    {
      "max": 200,
      "skipBlankLines": false,
      "skipComments": false
    }]
  }
}